/* start gloabl rules */

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 1500px;
    position: relative;
}

* {box-sizing: border-box}

/* end gloabl rules */





header{
    background-color: gray;
    position: relative;
    width: 75%;
    margin-left: 250px;


}
header div{
    display: flex;
    margin-left: 170px;


}

@media  (min-width:300px) and (max-width:900px)  {
 header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0;
    position: relative;
 }
 header div{
    width: 100%;
    height: 300px;
    margin-left: 10px;
 }
 hgroup{
    width: 100%;

 }
 header img{
    position: absolute;
    top: 50%;
    left: 15%;
 }



}


header div hgroup {
    color: red;

}

.content{
    width: 80%;
    margin-right: auto;
    margin-left: 300px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    /* position: relative; */

}

.content::before{
    content: "";
    right: 175px;
    content: "";
    background-color: #c58e8e;
    width: 68%;
    height: 1px;
    position: absolute;
    top: 255px;
}


.content #about{
    width: 70%;
    position: relative;

}

/* @media screen and (max-width: 900px) {
    .content #about{
        width: 500px;
  
      }
  } */

.content #about::before{
    content: "";
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: -25px;

    
}



.content #competencies{
    width: 70%;
    position: relative;
    z-index: -1;
    margin-top: 85px;

 }



  @media  (min-width:300px) and (max-width:900px) {
    .content {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin-left: 28px;
        width: 490px;
       
      }
  }

  @media (min-width:300px) and (max-width:900px)  {
    body {
      width: 400px;
       
      }
  }

 #competencies h3 {
  
    margin-bottom: 38px;
    margin-top: -65px;

 }
 #competencies::before{
    content: "";
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -62px;
    left: -25px;
 }

 #competencies::after{
    content: "Main";
    position: absolute;
    top: -28px;
    left: 1px;
    font-weight: 600;
 }



    
#competencies .skills-primary .skill{
    color: white;
    margin-top: 5px;
    padding: 10px;
    background-color: #ecd6d6;
}

#competencies .skills-secondary {
    margin-top:40px;
 } 

 #competencies .skills-secondary::before {
    content: "Other";
    position: absolute;
    top: 132px;
    left: 1px;
    font-weight: 600;

 } 

#competencies .skills-secondary .skill{
    color: white;
    margin-top: 5px;
    padding: 10px;
    background-color: #ecd6d6;
}

div .skill {
    position: relative;
    z-index: 1;
}



  [data-skill="5"] span::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 30px;
    background-color: red;
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -5px;

  }



 [data-skill="3"]::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 30px;
    background-color: red;
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -5px;
    
  } 


   

  .skills-secondary [data-skill="5"] span::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 30px;
    background-color: rgb(218, 57, 57);
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -4px;
    margin-right: 50px;
    
  } 

  

[data-skill="1"]::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 30px;
    background-color: red;
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -5px;


  }


  [data-skill="9"]::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 30px;
    background-color: #da3939;
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -5px;


  }


  [data-skill="7"]::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 30px;
    background-color: #da3939;
    margin-top: -5px;
    color: white;
    z-index: -1;
    margin-left: -5px;

   
  } 


#experiences{
    width: 80%;
    position: relative;
}
#experiences::after{
    content: "";
    left: -2px;
    content: "";
    background-color: #c58e8e;
    width: 218%;
    height: 1px;
    position: absolute;
    top: 48px;
}

#experiences .experience-type {
 color: red;
}


#experiences .experience-institution{
    color: #e02121;
    font-size: 10px;
}

#experiences .experience-details{
    color: #c7aeae;
}

#experiences .experience-date-separator{
    color: black;
}


#experiences::before{
    content: "";
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -25px;
}

#education{
    width: 60%;
    position: relative;
}

#education .experience-type{
    color: red;
}

#education::before{

    content: "";
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -25px;
}


#education .experience-institution{
    color: #e02121;
    font-size: 10px;
}

#education .experience-date{
    color: #c7aeae;
}

#education .experience-location{
    color: #c7aeae;
}


#education .experience-date-separator{
    color: black;
}

#hobbies{
    position: relative;
}
#hobbies::before{
    content: "";
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -25px;
}




 #contact{
    width: 400px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 205px;
   
}

 /* and (max-width:900px) */


@media  (min-width:300px) and (max-width:900px)  {
  #hobbies{
    position: relative;
  }  

  #contact  h3 {
    color: black;
    display: inline;
}

#contact{
    position: absolute;
    top: 100%;
    width: 100px;
    left: 5px;
    margin-left: 10px;
}

#contact .contact .contact-value{
    color: black;
    background-color: white;
    margin: 0;

}

.contact-email::before{
    display: none;
}
}


.contact{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width:fit-content;

    
    
}




#contact  h3 {
    display: none;
}

  .contact-email::before{
    content: "";
    width: 350px;
    height: 27px;
    background-color: black;
    position: absolute;
    top: 20px;
    left: 130px;
  
    
}



#contact .contact-value {
    margin: 0;
    background-color: black;
    width: 350px;
    color: red;
    margin-left: 20px;
    padding-right: 50px;
    padding-bottom: 5px;

   
}


#contact .contact-value a{
    color: red;
    text-decoration: none;

}


.contact-type {
    color: white;
    width: 110px;
}

.contact dt {
    margin-top: 5px;
}
.contact-skype .contact-value{
    display: none;
}

.contact-email{
    margin: 0;
    padding: 0;
}

 

