
/* start Generla informations */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1pc;
  padding: 50px 15%;
}


/* end Generla informations */

/* start header */
hgroup h1 {
  margin-top: 2pc;
  padding: 2pc 0;
  border-bottom: 3px solid rgb(199, 199, 199);

}

hgroup h2 {
  display: none;
}



figure img {
  position: absolute;
  left: 67%;
  top: 5pc;
  width: 13pc;
  height: 13pc;
  transform: rotate(-15deg);
}
/* end header */

/* start content */
#about {
  width: 70%;
  color: rgb(151, 151, 151);
  margin-bottom: 5pc;
}

#about h3 {
  display: none;
}

.skills {
  display: flex;
  
}

.skill {
  background-color: #349999;
  margin: 5px;
  padding: 8px;
  width: 134px;
  color: white;   
}

[data-skill="5"]::after {
  content: "\2605\2605\2605";
  float: right;
}

[data-skill="3"]::after {
  content: "\2605\2605";
  float: right;
}

[data-skill="1"]::after {
  content: "\2605";
  float: right;
}

[data-skill="9"]::after {
  content: "\2605\2605\2605\2605\2605";
  float: right;
}

[data-skill="7"]::after {
  content: "\2605\2605\2605\2605";
  float: right;
}
.skills-secondary {
  font-size: 10px;
}
section:not(:first-child) {
  display: grid;
  grid-template-columns: [section] 168px [content] auto;

}

section:not(:first-child) div {

  grid-column-start: content;
}

#competencies h3 {
  margin  : 0;
  grid-row-end: span 3;
}

h3 {
  border-right: 2px solid black;
  grid-row-end: span 2;
  font-style: italic;
}

section div {
  padding-left: 1pc;
}

h4 {
  color: #349999;
}

.experience-details {
  text-align: right;
  padding: 20px 0;
  color: rgb(151, 151, 151);
}

.experience-date-separator {
  color:#349999;
}

.experience{
  display: flex;
  flex-wrap: wrap;
}

section > div > h4 {
  flex-basis:50%;
}

.experience > div {
  flex-basis: 50%;
}

.experience-description {
  text-align: justify;
  margin: 20px 0;
}

.experience-institution {
  display: none;
}
/* end content */

/* start contact  */
#contact > h3 {
  display: none;
}

#contact dt {
  display: none;
}

.contact-skype {
  display: none;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto 100px auto 150px;

}

#contact {
  display: block;
}
/* end contact  */
dd {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 0;
  
}


dd a {
  color: transparent;
  width: 100%;
  height: 100%;
}

dl {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}
/* start social media images */
.contact-email {
  background-image: url(../images/email.png);

}

.contact-phone {
  background-image: url(../images/phone.png);
}

.contact-github {
  background-image: url(../images/github.png);
}

.contact-facebook {
  background-image: url(../images/facebook.png);
}

/* end social media images */

/* start media queries */

@media screen and (max-width: 799px) { 
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.9pc;
      padding: 10px 2%;
  }

  
  hgroup h1 {
      margin-top: 0;
      padding: 2pc 0;
      border-bottom: 3px solid rgb(199, 199, 199);
  
  }
  
  hgroup h2 {
      display: none;
  }
  
  figure img {
      display: none;
  }
  .content {
      width: 95%;
      padding-left: 15px;
  }
  #about {
      width: 100%;
      color: rgb(151, 151, 151);
      margin-bottom: 5pc;
      text-align: justify;

  }
  
  #about h3 {
      display: none;
  }
  
  .skills {
      display: flex;
      
  }
  
  .skill {
      background-color: #349999;
      margin: 5px;
      padding: 8px;
      width: 130px;
      color: white;   
  }
  
  [data-skill="5"]::after {
      content: "\2605\2605\2605";
      float: right;
  }
  
  [data-skill="3"]::after {
      content: "\2605\2605";
      float: right;
  }
  
  [data-skill="1"]::after {
      content: "\2605";
      float: right;
  }
  
  [data-skill="9"]::after {
      content: "\2605\2605\2605\2605\2605";
      float: right;
  }
  
  [data-skill="7"]::after {
      content: "\2605\2605\2605\2605";
      float: right;
  }
  .skills-secondary {
      font-size: 10px;
  }
  section:not(:first-child) {
      display: block;
  
  }
  

  
  #competencies h3 {
      margin  : 0;
      margin-bottom: 25px;
  }
  
  h3 {
      border-bottom: 2px solid black;
      width: 40%;
      border-right: none;
      font-style: italic;
      margin-top: 35px;
  }
  
  section div {
      padding-left: 0;
  }
  
  h4 {
      color: #349999;
  }
  
  .experience-details {
      text-align: right;
      padding: 20px 0;
      color: rgb(151, 151, 151);
  }
  
  .experience-date-separator {
      color:#349999;
  }
  
  .experience{
      display: flex;
      flex-wrap: wrap;
  }
  
  section > div > h4 {
      flex-basis:50%;
  }
  
  .experience > div {
      flex-basis: 50%;
  }
  
  .experience-description {
      text-align: justify;
      margin: 20px 0;
  }
  
  .experience-institution {
      display: none;
  }
  
  #contact > h3 {
      display: none;
  }
  
  #contact dt {
      display: none;
  }
  
  .contact-skype {
      display: none;
  }
  
  .contacts {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto;
  
  }
  
  #contact {
      display: block;
  }
  
  dd {
      display: flex;
      width: 100%;
      height: 100%;
      margin-left: 0;
      
  }
  
  
  dd a {
      color: transparent;
      width: 100%;
      height: 100%;
  }
  
  dl {
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
  }
  

  /*start socila media images */
  .contact-email {
      background-image: url(../images/email.png);
  
  }
  
  .contact-phone {
      background-image: url(../images/phone.png);
  }
  
  .contact-github {
      background-image: url(../images/github.png);
  }
  
  .contact-facebook {
      background-image: url(../images/facebook.png);
  }
/*end socila media images */

 
}

 /* end media query */